<nav *ngIf="army" id="army-bar">
    <div class="position-fixed army-bar">
        <div class="row border-0 g-0">
            <div class="col">
                <h3 class="p-3 mb-0">{{army.name}}</h3>
            </div>
            <div class="col-3 text-end">
                <h3 class="p-3 mb-0">
                    <span class="pe-4">{{army.totalCP}}CP</span>
                    <span class="green">{{calculateArmyPointsCost(army.detachments)}} points</span>
                </h3>
            </div>
        </div>

        <ng-container *ngFor="let detachment of army.detachments">
            <div class="row detachment border-0 g-0">
                <div class="col-6">
                    <h3 class="p-3 mb-0">{{detachment.armyType.name}} <span class="ps-1">{{detachment.detachmentType.name}}</span></h3>
                </div>
                <div class="col-6 text-end">
                    <h3 class="p-3 mb-0">
                        <span class="red px-3">-{{detachment.detachmentType.cost}}CP</span>
                        <span class="green ps-3">{{calculateMultipleUnitsPointsCost(detachment?.units)}}</span>
                    </h3>
                </div>
            </div>

            <div class="row g-0 m-3">
                <div class="col-4" (click)="openModal('faction-modal')">
                    <div class="unit m-3">
                        <div class="unit-title p-2">
                            <h4 class="m-0">
                                <span class="icon text-center"><i class="fas fa-table"></i></span>
                                Sub Faction
                            </h4>
                        </div>
                        <div class="unit-description px-2 pt-2">
                            <div class="">
                                <div class="item">
                                    <div class="cell-count cell d-block px-2">Cult of Magic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="(detachment.units | unitType:'HQ').length" class="row g-0 m-3">
                <div class="row g-0">
                    <div class="col-6">
                        <h3 class="m-0">HQ</h3>
                    </div>
                    <div class="col-6 text-end">
<!--                        <h3 class="m-0"><span class="green">{{calculateMultipleUnitsPointsCost(detachment.units | unitType:'HQ')}}</span></h3>-->
                    </div>
                </div>

                <div *ngFor="let unit of detachment.units | unitType:'HQ' | alphabetical:'id'; let i = index" class="col-4" [class.active]="activeUnit?.uuid === unit?.uuid" (click)="setActiveUnit(unit)">
                    <div class="unit m-3">
                        <div class="unit-title p-2">
                            <h4 class="m-0">
                                <span class="icon text-center"><i class="fas fa-skull"></i></span>
                                {{unit.name}}
                            </h4>
                            <button class="border-0 px-3 text-end clone" (click)="addUnit(detachment, unit, i); $event.stopPropagation()">
                                <i class="fas fa-clone"></i>
                            </button>
                            <button class="border-0 px-3 text-end delete" (click)="removeUnit(detachment, unit); $event.stopPropagation()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="unit-description px-2 pt-2">
                            <ng-container *ngFor="let model of unit.models; let i = index">
                                <ng-container *ngFor="let weaponOption of model.weaponOptions; let j = index">
                                    <div *ngIf="weaponOption.selectedOption.name !== unit?.models[i - 1]?.weaponOptions[j]?.selectedOption.name" class="pb-2">
                                        <div class="item row">
                                            <div class="cell-count px-2 text-center col-2">
                                                {{weaponsCount(unit, weaponOption.selectedOption.name)}}
                                            </div>
                                            <div class="cell px-2 col-8">
                                                {{weaponOption.selectedOption.name}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let wargear of unit.wargear">
                                <ng-container *ngIf="wargear.selectedOption.name !== '-'">
                                    <div class="pb-2">
                                        <div class="item row">
                                            <div class="cell-count px-2 text-center col-2">1</div>
                                            <div class="cell px-2 col-8">
                                                {{wargear.selectedOption.name}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <div class="points p-2 mx-1">{{calculateUnitPoints(unit)}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="(detachment.units | unitType:'TROOPS').length" class="row g-0 m-3">
                <div class="row g-0">
                    <div class="col-6">
                        <h3 class="m-0">TROOPS</h3>
                    </div>
                    <div class="col-6 text-end">
<!--                        <h3 class="m-0"><span class="green">{{calculateMultipleUnitsPointsCost(detachment.units | unitType:'TROOPS')}}</span></h3>-->
                    </div>
                </div>
                <div *ngFor="let unit of detachment.units | unitType:'TROOPS' | alphabetical:'id'; let i = index" class="col-4" [class.active]="activeUnit?.uuid === unit?.uuid" (click)="setActiveUnit(unit)">
                    <div class="unit m-3">
                        <div class="unit-title p-2">
                            <h4 class="title m-0">
                                <span class="icon text-center"><i class="fas fa-play"></i></span>
                                {{unit.name}}
                            </h4>
                            <button class="border-0 px-3 text-end clone" (click)="addUnit(detachment, unit, i)">
                                <i class="fas fa-clone"></i>
                            </button>
                            <button class="border-0 px-3 text-end delete" (click)="removeUnit(detachment, unit); $event.stopPropagation()">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="unit-description px-2 pt-2">
                            <ng-container *ngFor="let weapon of filterWeaponDuplicates(unit?.models)">
                                <div class="pb-2">
                                    <div class="item row">
                                        <div class="cell-count px-2 text-center col-2">
                                            {{weaponsCount(unit, weapon)}}
                                        </div>
                                        <div class="cell px-2 col-8">
                                            {{weapon}}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let wargear of unit.wargear">
                                <ng-container *ngIf="wargear.selectedOption.name !== '-'">
                                    <div class="pb-2">
                                        <div class="item row">
                                            <div class="cell-count px-2 text-center col-2">1</div>
                                            <div class="cell px-2 col-8">
                                                {{wargear.selectedOption.name}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <div class="points p-2 mx-1">{{calculateUnitPoints(unit)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</nav>

<!-- FACTION MODAL -->
<app-modal id="faction-modal" class="modal">
    <div header><h3 class="mb-0">Sub Faction<span class="px-2"></span></h3></div>
    <div body>
        <p>test</p>
    </div>
    <div footer>
        <button type="button" class="btn accept" (click)="closeModal('faction-modal')">CANCEL</button>
    </div>
</app-modal>
