@import '~src/styles.scss';

div#codexView {
    margin-left: 32rem;
    margin-right: calc(50vw - 16rem);
    margin-top: 4rem;
    height: calc(100vh - 8rem);

    div {
        &.w-80r {
            max-width: 80rem;
        }

        h1 {
            font-weight: 300;
            white-space: nowrap;
            font-size: 2rem;

            span {
                font-size: 1.4rem;
                color: $blumine;

                &.icon {
                    font-size: 2rem;
                    color: $slate-grey;
                }
            }
        }

        button {
            font-size: 1.4rem;
            color: $white;
            border-radius: 0.5rem;

            &.add {
                background-color: $fruit-salad;
            }

            &.remove {
                background-color: $mandy;
            }
        }
    }


    table.table {
        thead {
            background-color: darken($gallery-white, 5%);
        }

        tbody {
            border-top: none;
        }

        thead, tbody {
            tr {
                &.odd {
                    background-color: $gallery-white;
                }

                th {
                    font-weight: 400;
                }

                th, td {
                    &.w-6 {
                        width: 6%;
                    }

                    &.w-20 {
                        width: 20%;
                    }
                }
            }
        }
    }

    div.model {
        background-color: darken($gallery-white, 5%);

        p {
            font-weight: 300;

            span {
                font-size: 1.2rem;
                color: $blumine;
            }
        }
    }
}
